nav{
    -webkit-transition:background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
}

nav a{
    color:white;
    &:hover{
        color:$blue;
    }
}

nav:hover{
    background:rgba(255,255,255,0.1)
}