.showcase {
  .showcase-text {
    background: url('../img/ep_naturalblack.png');
    padding: 1rem;
    color:white;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: contain, cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}
